<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">
  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iure dicta adipisci incidunt, maiores ex, eveniet iste commodi asperiores omnis cumque reprehenderit, corrupti fuga cum molestias explicabo inventore est quas!
  </p>
  <hr class="m-y-2">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#/stores" role="button">View our store</a>
  </p>
</div>